<footer class="footer mt-auto py-3 bg-dark sticky-bottom">
    <p class="m-0 text-center text-white p-2">Website designed by Joe Playdon</p>
    <p class="m-0 text-center text-white p-1"> My social links:
      <a href="https://www.facebook.com/joe.playdon/" target="_blank" rel="noopener noreferrer nofollow"
      aria-label="visit my facebook page (opens in new tab)"> <i class="fa-brands fa-facebook ms-4"></i></a>
        <a href="https://www.instagram.com/jxe.p/" target="_blank" rel="noopener noreferrer nofollow"
      aria-label="visit my instagram page (opens in new tab)"> <i class="fa-brands fa-instagram ms-4"></i></a>
        <a href="https://github.com/bodthegod" target="_blank" rel="noopener noreferrer nofollow"
      aria-label="visit my github page (opens in new tab)"> <i class="fa-brands fa-github ms-4"></i></a></p>
</footer>
</body>