{% extends "base.html" %}

{% block content %}

<div class="px-4 py-5 m-3 text-center">
  <h1 class="display-5 fw-bold pb-2">BodFitness</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead"><strong><u>Book your personal training sessions using this:</strong></u></p>
  </div>
</div>
<div class="row mt-1 p-2">
  <h2 class="text-black text-center">Pick your session day</h2>
  <form method="POST" action="{% url 'booking' %}" class="text-center" id="confirmbooking">
    {% csrf_token %}

    <div class="mt-3 container col-2">
      <h3>Select your Day:</h3>
      <select class="form-select container col-6" name="date">
          {% if not booking_available %}
          <option value="No days available">No days available</option>
          {% else %}
          {% for day in available_days  %}
          <option value="{{day}}">{{day}}</option>
          {% endfor %}
          {% endif %}
      </select>
  </div>
      <h2 class="text-black mt-2">Pick your advice topic</h2>
      <div class="mb-4">
          <select name="advice" class="p-2" id="advice">
              <option value="1">Weight Gain</option>
              <option value="2">Weight Loss</option>
              <option value="3">Endurance</option>
              <option value="4">Strength Gain</option>
          </select>
        </div>
      <div class="mb-4">
        <h2>Online or in person?</h2>
          <select name="choice" class="p-2" id="choice">
              <option value="1">Online</option>
              <option value="2">In Person</option>
          </select>
      </div>
      {% if not booking_available %}
      <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 mb-5" disabled>Confirm Booking</button>
      {% else %}
      <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 mb-5">Confirm Booking</button>
      {% endif %}
  </form>
</div>
</div>
</div>
{%endblock%}