{% extends "base.html" %}

{% block content %}

<div class="px-4 py-5 m-3 text-center">
  <h1 class="display-5 fw-bold pb-2">Thank you for your booking, {{ booking.user }}.</h1>
</div>
<div class="container">
  <hr>
  <p class="text-center">Your booking information is below.
      <strong>Thank you again</strong>.</p>
  <hr>
  <div class="row">
      <div class="col-12">
          <div class="finalise-booking-wrapper p-2">
              <div class="row">
                  <div class="col">
                      <p class="fw-bold">Booking Info:</p>
                  </div>
              </div>

              <div class="row mt-2">
                  <div class="col-12 col-md-6">
                      <p class="mb-0">Booking Number</p>
                  </div>
                  <div class="col-12 col-md-6 text-md-end">
                      <p class="mb-0 fw-bold">{{ booking.booking_number }}</p>
                  </div>
              </div>

              <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <p class="mb-0">Booking Date</p>
                </div>
                <div class="col-12 col-md-6 text-md-end">
                    <p class="mb-0 fw-bold">{{ booking.date }}</p>
                </div>
            </div>

            <div class="row mt-2">
              <div class="col-12 col-md-6">
                  <p class="mb-0">Booking Advice</p>
              </div>
              <div class="col-12 col-md-6 text-md-end">
                  {% if booking.advice == 1 %}
                  <p class="mb-0 fw-bold">Weight Gain</p>
                  {% elif booking.advice == 2 %}
                  <p class="mb-0 fw-bold">Weight Loss</p>
                  {% elif booking.advice == 3 %}
                  <p class="mb-0 fw-bold">Endurance</p>
                  {% else %}
                  <p class="mb-0 fw-bold">Strength Gain</p>
                  {% endif %}
              </div>
          </div>

          <div class="row mt-2">
            <div class="col-12 col-md-6">
                <p class="mb-0">Booking Choice</p>
            </div>
            <div class="col-12 col-md-6 text-md-end">
                {% if booking.choice == 1 %}
                <p class="mb-0 fw-bold">Online</p>
                {% else %}
                <p class="mb-0 fw-bold">In Person</p>
                {% endif %}
            </div>
        </div>

<div class="px-4 py-5 my-5 text-center">
{% if user.is_superuser %}
<a href="{% url 'created_bookings' %}" class="btn btn-primary btn-lg px-4 gap-3 mb-5">All Bookings</a>
{% else %}
<a href="{% url 'account_panel' %}" class="btn btn-primary btn-lg px-4 gap-3 mb-5">My Bookings</a>
{% endif %}
<a href="{% url 'index' %}" class="btn btn-secondary btn-lg px-4 gap-3 mb-5">Take me back</a>
</div>
{%endblock%}