<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Booking</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'booking' %}" class="text-center" id="confirmbooking">
                {% csrf_token %}
            
                <div class="mt-3 container col-md-2">
                  <h3>Select your Day:</h3>
                  <select class="form-select container col-6" name="date">
                      {% if not booking_available %}
                      <option value="No days available">No days available</option>
                      {% else %}
                      {% for day in available_days  %}
                      <option value="{{day}}">{{day}}</option>
                      {% endfor %}
                      {% endif %}
                  </select>
              </div>
                  <h2 class="text-black mt-2">Pick your advice topic</h2>
                  <div class="mb-4">
                      <select name="advice" class="p-2" id="advice">
                          <option value="1">Weight Gain</option>
                          <option value="2">Weight Loss</option>
                          <option value="3">Endurance</option>
                          <option value="4">Strength Gain</option>
                      </select>
                    </div>
                  <div class="mb-4">
                    <h2>Online or in person?</h2>
                      <select name="choice" class="p-2" id="choice">
                          <option value="1">Online</option>
                          <option value="2">In Person</option>
                      </select>
                  </div>
                  {% if not booking_available %}
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 mb-5" disabled>Confirm Booking</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 mb-5">Confirm Booking</button>
                  {% endif %}
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>