{% extends "base.html" %}

{% block content %}

<div class="px-4 py-5 m-3 text-center">
  <h1 class="display-5 fw-bold pb-2">BodFitness</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead"><strong><u>Book your personal training sessions using this:</strong></u></p>
  </div>
</div>
<div class="row mt-1 p-2">
  <h2 class="text-black text-center">Pick your session day</h2>
  <form method="POST" action="{% url 'booking' %}" class="text-center" id="confirmbooking">
    {% csrf_token %}

    <div class="mt-3 container col-2">
      <h3>Select your Day:</h3>
      <select class="form-select container col-6" name="date">
          {% for availableDay in availableDays  %}
          <option value="{{availableDays}}">{{availableDays}}</option>
          {% endfor %}
      </select>
  </div>
      <!-- <input 
        id="datePicker"
        type="date" 
        name="booking_date"
        required />
        <script>datePicker.min = new Date().toISOString().split("T")[0];</script> -->
      <h2 class="text-black mt-2">Pick your advice topic</h2>
      <div class="mb-4">
          <select name="lifting" class="p-2" id="lifting">
              <option value="Weight Gain">Weight Gain</option>
              <option value="Weight Loss">Weight Loss</option>
              <option value="Endurance">Endurance</option>
              <option value="Strength Gain">Strength Gain</option>
          </select>
        </div>
      <div class="mb-4">
        <h2> Online or in person?</h2>
          <select name="session_type" class="p-2" id="session-type">
              <option value="Online">Online</option>
              <option value="In Person">In Person</option>

          </select>
      </div>
      <button class="btn btn-primary btn-lg px-4 gap-3 mb-5">Confirm Booking</button>
  </form>
</div>
</div>
<!-- <div class="container-fluid">
    <div class="row">

        <div class="mx-auto" style="width: 200px;">
            <input id="datepicker">

            <script>
              $(function () {
                $("#datepicker").datepicker();
              });
            </script>
        </div>
    </div> -->

</div>
{%endblock%}